# Explicitly ignore specific files
**/App.test.tsx
**/react-app-env.d.ts
**/serviceWorker.ts
src/reportWebVitals.ts

# Ignore the entire 'src' folder for .js, .jsx, and .ts files
src/**/*.js
src/**/*.jsx
src/**/*.ts

# Also ignoring 'dist', .eslintrc.js, 'config', and 'scripts' folders entirely
dist/
src/
.eslintrc.js
config/
scripts/
